*{
    margin: 0px;
    padding: 0px;
 
}
h2{
    color: #02B589;
    cursor: pointer;
    text-decoration: none;
}
.homeContainer{
height: 100vh;
background-color: #FFFFFF;
        
}
header{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    height: 60px;
    margin-right: 150px;    
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    gap: 60px;
}
.input{
    display: flex;
    width: 500px;
    gap: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
}
.hadgalagch{

}
p{
    color: gray;
    font-size: small;
}